.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

.video-frame {
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}